<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css"> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
    <script>
        var MarketCap = {{ top_10_currencies|tojson }};
    </script>
</head>
<body>
    <header>
        <h1>Cryptocurrency Dashboard</h1>        
    </header>
    <main>

    </main>
    
    <div id="visualizations">
        <div class="visualization" id="visualization1"></div> <!-- do not use, Jo used already-->
        <div class="visualization" id="visualization2"></div>
        <div class="visualization" id="visualization3"></div>
        <div class="visualization" id="visualization4"></div>
        <div class="visualization" id="visualization5"></div>
    </div>
    <div class="chart">
        <h2>Top 10 Market Dominant Cryptocurrencies</h2>
        <canvas id="myChart"></canvas>
    </div>    
    <footer>
        <p>&copy; 2023 Crypto Dashboard. All rights reserved.</p>
        <p>&copy; Group 5 Project 3 - Nev, Jo, Kaiser, Iana, Saki.</p>
    </footer>
</body>
</html>