<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css"> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    
    
    <script>
        var MarketCap = {{ top_10_currencies|tojson }};
    </script>
</head>
<body>
    <header>
        <h1>Cryptocurrency Dashboard</h1>        
    </header>
    <main>
        <div class="charts-container">
            <div class="chart">
                <h2>Cryptocurrencies by all-time volatility</h2>
                <div>
                    <select id="dropdown1"></select>                       
                    <select id="dropdown2"></select>
                    <div id="visualisation1"></div>
                </div>
            </div>

            <div class="chart">
                <h2>Coins by their circulating supply,
                as a percentage of the total circulating supply</h2>
                <div>
                    <button id="topfive">Top Five Coins</button>
                    <button id="bottomfive">Bottom Five Coins</button>               
                    <div id="visualisation2"></div>
                </div>              
            </div>            
        </div>
        <div class="chart">
            <h2>Top 10 Market Dominant Cryptocurrencies</h2>
            <div>                                        
                <canvas id="myChart"></canvas>
            </div>            
        </div>
        <script src="static/js/visualisations.js"></script>
        <script src="static/js/pie.js"></script>
        <script src="static/js/script.js"></script>

    </main>    
    <footer>
        <p>&copy; 2023 Crypto Dashboard. All rights reserved.</p>
        <p>&copy; Group 5 Project 3 - Nev, Jo, Kaiser, Iana, Saki.</p>
    </footer>
</body>
</html>